.main-content{
    flex-direction: column;
    gap: 60px;
}
.con button{
    min-width: 75px;
    width: 25%;
    cursor: pointer;
}
.confirm {
    display: none;
    position: fixed;
    width: 90%;
    min-height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.confirm-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.con{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
p{
    text-align: center;
    font: 20px muli;
}