{% extends 'base.html' %}


{% block headcontent %}
{% load static %}
<meta property="og:title" content="Home Page">
<meta property="og:description" content="Students Union">
<title>Students Union </title>
<link rel="stylesheet" href="{% static 'css/adminp1.css' %}">

{% endblock %}



{% block maincontent %}
<section class="adminp sharp card large" id="cd1">
</section>

<section class="adminp sharp card medium" id="cd2">

    <div class="plot-area" id="cdp2">
    </div>
    <button class="main-button plot-download-button" id="pdb2">طباعة</button>

</section>


<section class="adminp sharp card medium" id="cd3">
    <p class="card-name">المرشحين</p>
    <div class="ag-table-big ag-theme-alpine" id="cdt3">
    </div>
    <button class="main-button grid-print-button" id="gdb3">طباعة</button>

</section>

<div class="hidden-plot-area-for-download" hidden></div>

{% include 'adminp1js.html' %}

{% endblock %}