{% extends 'base.html' %}


{% block headcontent %}
{% load static %}
<meta property="og:title" content="Home Page">
<meta property="og:description" content="Students Union">
<title>Students Union </title>
<link rel="stylesheet" href="{% static 'css/adminp1.css' %}">
{% endblock %}



{% block maincontent %}
<section class="adminp round-card-large" id="cd1">
</section>

<section class="adminp round-card-small" id="cd2">

    <div class="plot-area" id="cdp2">
    </div>
    <button class="plot-download-button" id="pdb2">طباعة</button>

</section>


<section class="adminp round-card-small" id="cd3">
    <p>المرشحين</p>
    <div class="table ag-theme-alpine" id="cdt3">
    </div>
    <button class="grid-print-button" id="tb3">طباعة</button>

</section>

<div class="hidden-plot-area-for-download" hidden></div>

{% include 'adminp1js.html' %}

{% endblock %}