<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    {% load static %}

    <meta charset="utf-8" />
    <meta property="og:image" content="images/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="Students Union" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/ElectionLogo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />

  {% block headcontent %}
    <meta property="og:title" content="Home Page" />
    <title>Students Union</title>
  {% endblock %}
</head>

  <body>
    <div class="container">

      <header>
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo" />
        </a>
        <a href="{% url 'home' %}">
          <h1 id="logotext1">FCAI Beni Suef University</h1>
        </a>
      </header>

      <aside class="main-side-bar main-side-bar-collapsed">
        <a  class="menu-icon">
          <img src="{% static 'img/menu.svg' %}" alt="menu"/>
        </a>

        <div class="sidebar-login">
        {% if request.user.is_authenticated %}
        <div class="user">
          <img src="../static/img/user.png" alt="User Icon" >
          <h2 id="welcomeMessage">{{request.user.username}}</h2>  
        </div>
        <button class="side-bar-button" id="logoutb">تسجيل خروج</button>
        {% else %}
        <button class="side-bar-button" id="loginb">تسجيل دخول</button>
        {% endif %}
        </div>
        
        <div class="sidebar-options">
          {% if admin %}
          <button class="side-bar-button" id="nomdatab">بيانات المرشحين</button>
          <button class="side-bar-button" id="setdatesb">تحديد المواعيد</button>
          <button class="side-bar-button" id="showcontenb">الطعن</button>
          <button class="side-bar-button" id="resultcontrolb">تحديد النتيجة</button>
          {% else %}
          <div class="Button-list">
              <button class="list-hide side-bar-button" id="Elec1b">انتخابات أعضاء اللجان</button>
              <button class="small-side-bar-button" id="n1b">ترشح</button>
              <button class="small-side-bar-button" id="v1b">انتخاب</button>
              <button class="small-side-bar-button" id="r1b">نتيجة</button>
          </div>
        
          <div class="Button-list">
              <button class="list-hide side-bar-button" id="Elec2b">انتخابات أمناء/مساعدى اللجان على مستوى الكلية</button>
              <button class="small-side-bar-button" id="n2b">ترشح</button>
              <button class="small-side-bar-button" id="v2b">انتخاب</button>
              <button class="small-side-bar-button" id="r2b">نتيجة</button>
          </div>
        
          <div class="Button-list">
              <button class="list-hide side-bar-button" id="Elec3b">انتخابات رئيس/نائب رئيس الاتحاد على مستوى الكلية</button>
              <button class="small-side-bar-button" id="n3b">ترشح</button>
              <button class="small-side-bar-button" id="v3b">انتخاب</button>
              <button class="small-side-bar-button" id="r3b">نتيجة</button>
          </div>
        
          <div class="Button-list">
              <button class="list-hide side-bar-button" id="Elec4b">انتخابات أمناء/مساعدى اللجان على مستوى الجامعة</button>
              <button class="small-side-bar-button" id="n4b">ترشح</button>
              <button class="small-side-bar-button" id="v4b">انتخاب</button>
              <button class="small-side-bar-button" id="r4b">نتيجة</button>
          </div>
        
          <button class="side-bar-button" id="contenb">تقديم طعن</button>
          <div class="Button-list">
              <button class="list-hide side-bar-button" id="Elec4b">البرامج الانتخابية</button>
              <button class="side-bar-button elc-prog " id="prog">تقديم برنامج انتخابي</button>
              <button class="side-bar-button show-elec-progs " id="progs"> عرض البرامج الانتخابية</button>
          </div>
          {% endif %}
        </div>      </aside>

      <section class="main-content">
        {% block maincontent %}
        
        {% endblock %}
      </section>

      <footer>
        <div id="foot">FCAI Beni Suef © 2023 - all rights reserved.</div>
      </footer>
    </div>
    
    {% include 'commonjs.html' %}
  </body>
</html>









