<!DOCTYPE html>
<html lang="en-US">
  {% block headcontent %}
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta property="og:title" content="Home Page" />
    <meta property="og:image" content="images/logo.jpg" />
    <meta property="og:description" content="Students Union" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students Union</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}" />
  </head>
  {% endblock %}
  <body>
    <div class="container">

      <header>
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo" />
        </a>
        <a href="{% url 'home' %}">
          <h1 id="logotext1">FCAI Beni Suef University</h1>
        </a>
      </header>

      <aside class="main-side-bar">
        <a  class="menu-icon">
          <img src="{% static 'img/menu.svg' %}" alt="menu"/>
        </a>

        <div class="sidebar-login">
        {% if request.user.is_authenticated %}
        <div class="user">
          <img src="../static/img/user.png" alt="User Icon" >
          <h2 id="welcomeMessage">{{request.user.username}}</h2>  
        </div>
        <button id="b5">تسجيل خروج</button>
        {% else %}
        <button id="b1">تسجيل دخول</button>
        {% endif %}
        </div>

        <div class="sidebar-options">
        {% if access.nomination == True %}
        <button id="b3">تقديم طلب الترشح</button>
        {% endif %} {% if access.vote == True %}
        <button id="b2">انتخاب</button>
        {% endif %} {% if access.result == True %}
        <button id="b4">النتيجه</button>
        {% endif %} {% if access.contention == True %}
        <button id="b6">تقديم طعن</button>
        {% endif %}
        </div>
      </aside>

      <section class="main-content">
        {% block maincontent %}
        {% endblock %}
      </section>

      <footer>
        <div id="foot">FCAI Beni Suef © 2023 - all rights reserved.</div>
      </footer>
    </div>
    {% include 'commonjs.html' %}
  </body>
</html>
