<script defer>
$(document).ready(function() {

/*select2 package*/
    $('select').select2({  maximumSelectionLength: 2
});

/*Menu icon functionality*/
let main_side_bar = document.querySelector(".main-side-bar")
let menu_icon = document.querySelector(".menu-icon")

  menu_icon.onclick = () => {
    if (main_side_bar.className == 'main-side-bar main-side-bar-collapsed')
      {
        main_side_bar.classList.remove("main-side-bar-collapsed")
    }
    else
    main_side_bar.classList.add("main-side-bar-collapsed") 
   };


let header = document.querySelector("header");

/*Buttons*/

   let loginb = document.querySelector("#loginb")
   let logoutb = document.querySelector("#logoutb")


  let Elec1b = document.querySelector("#Elec1b");
  let n1b = document.querySelector("#n1b");
  let v1b = document.querySelector("#v1b");
  let r1b = document.querySelector("#r1b");

  let Elec2b = document.querySelector("#Elec2b");
  let n2b = document.querySelector("#n2b");
  let v2b = document.querySelector("#v2b");
  let r2b = document.querySelector("#r2b");

  let Elec3b = document.querySelector("#Elec3b");
  let n3b = document.querySelector("#n3b");
  let v3b = document.querySelector("#v3b");
  let r3b = document.querySelector("#r3b");

  let Elec4b = document.querySelector("#Elec4b");
  let n4b = document.querySelector("#n4b");
  let v4b = document.querySelector("#v4b");
  let r4b = document.querySelector("#r4b");

  let contenb = document.querySelector("#contenb");
  let nomdatab = document.querySelector("#nomdatab");
  let showcontenb = document.querySelector("#showcontenb");
  let setdatesb = document.querySelector("#setdatesb");


  let listhide = document.querySelectorAll(".list-hide")
  let Buttonlist = document.querySelectorAll(".Button-list")

   listhide.forEach((elem) => {
    let nextSibling = elem.nextElementSibling;
    while(nextSibling) {
        nextSibling.style.display = "none";
        nextSibling = nextSibling.nextElementSibling;
    }

    elem.onclick = () => {
    let nextSibling = elem.nextElementSibling;
      while(nextSibling) {
        let dis = nextSibling.style.display;
      if (dis === "none") {
        nextSibling.style.display = "block";
      } else {
        nextSibling.style.display = "none";
      }
        nextSibling = nextSibling.nextElementSibling;
    
      Buttonlist.forEach((anotherbuttonlist) => {
        if (anotherbuttonlist.firstElementChild != elem)
        {let nextSibling = anotherbuttonlist.firstElementChild.nextElementSibling;
          while(nextSibling) {
        nextSibling.style.display = "none";
        nextSibling = nextSibling.nextElementSibling;
    }
 }

      })
}
    };
  });


/*User_Buttons*/
  if (loginb != null) {
    loginb.onclick = () => {
    window.open("{% url 'sign_in' %}", "_self");
  };
};
if (logoutb != null) {
  logoutb.onclick = () => {
    window.open("{% url 'log_out' %}", "_self");
  };
};

if (n1b != null) {
  n1b.onclick = () => {
    window.open("{% url 'nomination' 'communityMemberElections' %}", "_self");
  };
};
if (v1b != null) {
  v1b.onclick = () => {
    window.open("{% url 'vote1' 'communityMemberElections' %}", "_self");
  };
};
if (r1b != null) {
  r1b.onclick = () => {
    window.open("{% url 'result' 'communityMemberElections' %}", "_self");
  };
};

if (n2b != null) {
  n2b.onclick = () => {
    window.open("{% url 'nomination' 'collegeCommunityTrusteeOreHelperElections' %}", "_self");
  };
};
if (v2b != null) {
  v2b.onclick = () => {
    window.open("{% url 'vote1' 'collegeCommunityTrusteeOreHelperElections' %}", "_self");
  };
};
if (r2b != null) {
  r2b.onclick = () => {
    window.open("{% url 'result' 'collegeCommunityTrusteeOreHelperElections' %}", "_self");
  };
};

if (n3b != null) {
  n3b.onclick = () => {
    window.open("{% url 'nomination' 'collegeStudentUnionPresidentOrViceElections' %}", "_self");
  };
};
if (v3b != null) {
  v3b.onclick = () => {
    window.open("{% url 'vote1' 'collegeStudentUnionPresidentOrViceElections' %}", "_self");
  };
};
if (r3b != null) {
  r3b.onclick = () => {
    window.open("{% url 'result' 'collegeStudentUnionPresidentOrViceElections' %}", "_self");
  };
};

if (n4b != null) {
  n4b.onclick = () => {
    window.open("{% url 'nomination' 'universityElections' %}", "_self");
  };
};
if (v4b != null) {
  v4b.onclick = () => {
    window.open("{% url 'vote1' 'universityElections' %}", "_self");
  };
};
if (r4b != null) {
  r4b.onclick = () => {
    window.open("{% url 'result' 'universityElections' %}", "_self");
  };
};

if (contenb != null) {
  contenb.onclick = () => {
    window.open("{% url 'contention' %}", "_self");
  };
};

/*Admin_Buttons*/
if (nomdatab != null) {
  nomdatab.onclick = () => {
    window.open("{% url 'list_nominee' %}", "_self");
  };
};
if (showcontenb != null) {
  showcontenb.onclick = () => {
    window.open("{% url 'list_contention' %}", "_self");
  };
};
if (setdatesb != null) {
  setdatesb.onclick = () => {
    window.open("{% url 'duration' %}", "_self");
  };
};


});
</script>
