{% extends 'base.html' %}

{% block headcontent %}
    {% load static %}
    <meta property="og:title" content="Nomination page" />
    <link rel="stylesheet" href="{% static 'css/contention.css' %}" />
    <title>contention Form</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
    <form enctype="multipart/form-data" id="myForm" class="contention" action="{% url 'contention' %}" method="POST">
        {%csrf_token%}

        <h2 class="form-name">استمارة طعن</h2>

        {% if ConfirmationMessage == 'Application sent successfuly' %}
        <div>{{ ConfirmationMessage }}</div>

        {% else %}

        <div class="feild">
            <label>{{form.Name.label}}</label>
            {{form.Name}}
        </div>
        
        <div class="feild">
            <label>{{form.User_id.label}}</label>
            {{form.User_id}}
        </div>

        <div class="feild">
            <label>{{form.nominee_id.label}}</label>
            {{form.nominee_id}}
        </div>

        <div class="feild">
            <label>{{form.reason.label}}</label>
            {{form.reason}}
        </div>

        <div class="feild">{{ ConfirmationMessage }}</div>
        <input type="submit" value="تقديم الاستمارة" />
        {% endif %}
    </form>
    </div>
{% endblock %}