{% extends 'base.html' %}


{% block headcontent %}
{% load static %}
<meta property="og:title" content="Home Page">
<meta property="og:description" content="Students Union">
<title>Students Union </title>
<link rel="stylesheet" href="{% static 'css/duration.css' %}">
{% endblock %}



{% block maincontent %}
<div class ="sharp form-container">
    <h1 class="card-name">التحكم فى الانتخابات</h1>

    <section class="flexvert borderdiv">
        <div class="muli-m">بداية مرحلة جديدة</div>
        <button class="main-button" id="newStageb">تطبيق</button>
    </section>

    <div class="confirm" id="confirm1">
        <p>هل انت متاكد من بداية انتخابات جديدة؟ هذا سيؤدي لمسح بيانات جميع المرشحين</p>
        <div class="con">
            <button class="main-button" id="yes-btn1">نعم</button>
            <button class="main-button" id="no-btn1">لا</button>
        </div>
    </div>
    <section class="flexvert borderdiv">
        <div class="muli-m">بداية انتخابات جديدة</div>
        <button type="submit" class="main-button" id="newElectionb">تطبيق</button>
    </section>

    <div class="confirm" id="confirm2">
        <p>هل انت متاكد من بداية انتخابات جديدة؟ هذا سيؤدي لمسح بيانات جميع المرشحين</p>
        <div class="con">
            <button class="main-button" id="yes-btn2">نعم</button>
            <button class="main-button" id="no-btn2">لا</button>
        </div>

    </div>

    <div class="flexhoriz"></div>
    {{confirmationmessage}}
</div>

<div class="sharp form-container">
    <h2 class="form-name" style="direction: rtl;">انتخابات الفرق</h2>

    <form method="post" action="{% url 'duration' %}">
        {%csrf_token%}
        <div class="field">
        <label for=""> {{df.communityMemberElections_sd.label}} </label>
            {{df.communityMemberElections_sd}}
        </div>

        <div class="field">
            {{df.communityMemberElections_ed.label}}
            {{df.communityMemberElections_ed}}
        </div>

        <div class="field">
            {{df.Voting_1_sd.label}}
            {{df.Voting_1_sd}}
        </div>


        <div class="field">
            {{df.Voting_1_ed.label}}
            {{df.Voting_1_ed}}
        </div>

        <div class="field">
            {{df.con_sd.label}}
            {{df.con_sd}}
        </div>

        <div class="field">
            {{df.con_ed.label}}
            {{df.con_ed}}
        </div>

        <div class="field">
            {{df.result_1_sd.label}}
            {{df.result_1_sd}}
        </div>

        <div class="field">
            {{df.result_1_ed.label}}
            {{df.result_1_ed}}
        </div>
        {{ConfirmationMessage2}}
        <input type="submit" value="Save Changes">
    </form>
</div>


<div class="sharp form-container">
    <h2 class="form-name" style="direction: rtl;">انتخابات أمناء/مساعدى اللجان على مستوى الكلية</h2>

    <form method="post" action="{% url 'duration' %}">
        {%csrf_token%}
        <div class="field">
        <label for=""> {{df.collegeCommunityTrusteeOreHelperElections_sd.label}} </label>
            {{df.collegeCommunityTrusteeOreHelperElections_sd}}
        </div>

        <div class="field">
            {{df.collegeCommunityTrusteeOreHelperElections_ed.label}}
            {{df.collegeCommunityTrusteeOreHelperElections_ed}}
        </div>

        <div class="field">
            {{df.Voting_2_sd.label}}
            {{df.Voting_2_sd}}
        </div>


        <div class="field">
            {{df.Voting_2_ed.label}}
            {{df.Voting_2_ed}}
        </div>

        <div class="field">
            {{df.result_2_sd.label}}
            {{df.result_2_sd}}
        </div>

        <div class="field">
            {{df.result_2_ed.label}}
            {{df.result_2_ed}}
        </div>
        {{ConfirmationMessage2}}
        <input type="submit" value="Save Changes">
    </form>
</div>

<div class="sharp form-container">
    <h2 class="form-name" style="direction: rtl;">انتخابات رئيس/نائب رئيس الاتحاد على مستوى الكلية</h2>

    <form method="post" action="{% url 'duration' %}">

        {%csrf_token%}
        <div class="field">
        <label for=""> {{df.collegeStudentUnionPresidentOrViceElections_sd.label}} </label>
            {{df.collegeStudentUnionPresidentOrViceElections_sd}}
        </div>

        <div class="field">
            {{df.collegeStudentUnionPresidentOrViceElections_ed.label}}
            {{df.collegeStudentUnionPresidentOrViceElections_ed}}
        </div>

        <div class="field">
            {{df.Voting_3_sd.label}}
            {{df.Voting_3_sd}}
        </div>


        <div class="field">
            {{df.Voting_3_ed.label}}
            {{df.Voting_3_ed}}
        </div>

        <div class="field">
            {{df.result_3_sd.label}}
            {{df.result_3_sd}}
        </div>

        <div class="field">
            {{df.result_3_ed.label}}
            {{df.result_3_ed}}
        </div>
        {{ConfirmationMessage2}}
        <input type="submit" value="Save Changes">
    </form>
</div>

<div class="sharp form-container">
    <h2 class="form-name" style="direction: rtl;">انتخابات الجامعة</h2>

    <form method="post" action="{% url 'duration' %}">

        {%csrf_token%}
        <div class="field">
        <label for=""> {{df.universityElections_sd.label}} </label>
            {{df.universityElections_sd}}
        </div>

        <div class="field">
            {{df.universityElections_ed.label}}
            {{df.universityElections_ed}}
        </div>

        <div class="field">
            {{df.Voting_4_sd.label}}
            {{df.Voting_4_sd}}
        </div>


        <div class="field">
            {{df.Voting_4_ed.label}}
            {{df.Voting_4_ed}}
        </div>

        <div class="field">
            {{df.result_4_sd.label}}
            {{df.result_4_sd}}
        </div>

        <div class="field">
            {{df.result_4_ed.label}}
            {{df.result_4_ed}}
        </div>
        {{ConfirmationMessage2}}
        <input type="submit" value="Save Changes">
    </form>
</div>
{% include 'durationjs.html' %}

{% endblock %}




