{% extends 'base.html' %}


{% block headcontent %}
{% load static %}
<meta property="og:title" content="Home Page">
<meta property="og:description" content="Students Union">
<title>Students Union </title>
<link rel="stylesheet" href="{% static 'css/duration.css' %}">
{% endblock %}



{% block maincontent %}

<div class="form-container">
    <form method="post" action="{% url 'duration' %}">
        <h2 class="form-name">تحديد المواعيد</h2>

        {%csrf_token%}
        <div class="field">
        <label for=""> {{df.nomin_start_date.label}} </label>
            {{df.nomin_start_date}}
        </div>
        <div class="field">
            {{df.nomin_end_date.label}}
            {{df.nomin_end_date}}
        </div>
    
        <div class="field">
            {{df.vote_start_date.label}}
            {{df.vote_start_date}}
        </div>
        <div class="field">
            {{df.vote_end_date.label}}
            {{df.vote_end_date}}
        </div>
        <div class="field">
            {{df.con_start_date.label}}
            {{df.con_start_date}}
        </div>
        <div class="field">
            <label for="id_con_end_date">{{df.con_end_date.label}}</label>    
            {{df.con_end_date}}
        </div>
        <div class="field">
            <label for="id_result">{{df.result.label}}</label>
            <label for="id_result">
                {{df.result}}
                <div class="toggel-switch"></div>
            </label>
        </div>
        <input type="submit" value="Save Changes">
    </form>

<hr>

    <div class="new-elec">

        <button id="start-election-btn" >بداية انتخابات جديدة</button>

        <div class="confirm" id="confirm">
            <p>هل انت متاكد من انهاء العملية الانتخابيه؟ هذا سيؤدي لمسح بيانات جميع المرشحين</p>
            <div class="con">
                <button id="yes-btn">نعم</button>
                <button id="no-btn">لا</button>
            </div>
        </div>
    </div>

    <div>
        {{ConfirmationMessage}}
    </div>
    
</div>

{% include 'durationjs.html' %}

{% endblock %}




