<!DOCTYPE html>
<html lang="en-US">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta property="og:title" content="Home Page">
  <meta property="og:image" content="images/logo.jpg">
  <meta property="og:description" content="Students Union">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students Union </title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/indexp.css' %}">
  <link rel="icon" type="image/x-icon" href="images/logo.jpg">
  <script src="{% static 'js/common.js' %}" defer></script>
  <script src="{% static 'js/indexp.js' %}" defer></script>
</head>

<body>

  <header>
    <a href="{% url 'home' %}">
      <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo">
    </a>
    <a href="{% url 'home' %}">
      <h1 id="logotext1">FCAI Beni Suef</h1>
      <h1 id="logotext2">Student's Union Elections</h1>
    </a>
  </header>

  <nav>
    <button id="b1"><a href="{% url 'sign_in' %}">Login</a></button>
    <button id="b2"><a href="{% url 'vote1' %}">Vote</a></button>
    <button id="b3"><a href="{% url 'nomination' %}">Apply for nominatinon</a></button>
  </nav>

  <main class="container">
    <p>Welcome to the student's union nomination hub {{name}}</p>

    <div id="image-part">
      <h3 id="image-header">
        <h3>
          <img src="" class="im">
    </div>

    <div id="para">
      <span id="paratitle"></span>
    </div>


  </main>

  <footer>
    <div id="foot"> FCAI Beni Suef © 2023 - all rights reserved.</div>
  </footer>
</body>

</html>