{% extends 'base.html' %} {% block headcontent %} {% load static %}
<meta property="og:title" content="Home Page" />
<meta property="og:image" content="images/logo.png" />
<title>Students Union</title>
<link rel="stylesheet" href="{% static 'css/indexp.css' %}" />
{% endblock %} 
{% block maincontent %}
<div class="landing-container">
  <section class="landing">
  <div class="progect-logo">
    <img src="{% static 'img/ElectionLogo.jpg' %}" alt="">
  </div>
  <div class="contribuaters">
    <h2>تم تطوير هذا الموقع تحت اشراف كلا من </h2>
    <h3>أ د / منصور حسن - رئيس جامعة بني سويف </h3>
    <h3>أ د / محمد قايد - عميد كلية الحاسبات والذكاء الاصطناعي</h3>
    <h3> أ د / احمد النجار - رئيس قسم علوم الحاسب كلية الحاسبات والذكاء الاصطناعي  </h3>
    <h3> م / مي علاء - معيدة بقسم علوم الحاسب كلية الحاسبات والذكاء الاصطناعي</h3>
    <h3>أ / هشام - مدير كلية الحاسبات والذكاء الاصطناعي</h3>
    <h2>بتنفيذ طلاب الفرقة الثالثة بقسم علوم الحاسب للعام الدراسي 2022/2023</h2>
    <h3>محمود حسن محمد</h3>
    <h3>حبيبة محمد رزق عفيفي</h3>
    <h3>اية فارس محمد سليم</h3>
    <h3>محمد عادل محمد طه </h3>
    <h3>محمود خلف محمود مصطفى</h3>
    <h3>محمد ابراهيم محمد ابراهيم</h3>
    <h3>محمد أحمد سيد عبد المنعم سيد أحمد مبارك</h3>
    <h3>خالد عبد العال سعيد مصطفى</h3>
    <h3>خالد احمد محمد جوده</h3>
    <h3>جورج عوض سيد عوض الله</h3>
  </div>
    
  </section>

  <div class="faq-container">
    <h2>اهم الاسئلة الشائعة عن اتحاد الطلاب </h2>
    <div class="faq">
      <div class="question">
        <h4>ما هي المهام التي يقوم بها اعضاء اتحاد الطلاب ؟</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          هناك العدد من المهام التي يؤديها اعضاء اتحاد الطلاب يمكنك مشاهدت امثله
          علي هذه المهام من خلال صفحة الاتحاد علي فيسبوك من
          <a href="https://www.facebook.com/fcaiBns2021" target="_blank">هنا</a>
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>ما هو اتحاد الطلاب ؟</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          يعد اتحاد الطلاب الممثل الشرعي الحقيقي لجميع طلاب الجامعة، للتعبير عن
          آرائهم ومتطلباتهم، كما يندرج منه عدة لجان تهدف إلى تفعيل جميع الأنشطة
          الطلابية بالجامعة.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اهداف اتحاد الطلبة ؟</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          أهداف اتحاد الطلاب هي توثيق الروابط بين جموع الطلاب وأعضاء هيئة التدريس،
          والهيئة الإدارية المعاونة، والعاملين، وتمثيل الطلاب في الداخل والخارج،
          والدفاع عن حقوقهم ومصالحهم، بما لا يخالف التقاليد والقيم الجامعية. وتعمل
          الاتحادات الطلابية على إعداد كوادر قادرة على تحمل المسؤولية، وترسيخ
          الوعي الوطني، وإعلاء قيمة الانتماء، وتعميق أسس الديمقراطية، وحقوق
          الإنسان، وكذلك تيسير ممارسة الطلاب التعبير عن آرائهم بحرية تجاه القضايا
          المختلفة. كما تهدف الاتحادات الطلابية إلى تعميق الأسس والمبادئ الروحية
          والأخلاقية من خلال العمل بروح الفريق، وصقل مواهب الطلاب، وتنمية قدراتهم
          ومهاراتهم وتوظيفها بما يعود بالفائدة على الطالب ومؤسسته التعليمية. وتحفز
          الاتحادات الطلابية على ممارسة الأنشطة الطلابية، والعمل على توفير سبل
          الراحة للطلاب، وتشجيع إقامة الأسر الطلابية والجمعيات والنوادي المتخصصة
          لتنمية المهارات ودعم الابتكارات، دون تمييز بسبب فئوي أو ديني، أو عقدي،
          أو حزبي. وتدعم العلاقات مع الاتحادات الطلابية داخل الوطن وخارجه، وكافة
          الجهات الخدمية للمجتمع الجامعي طبقا للإجراءات القانونية، والالتزام
          بالتقاليد الجامعية، وكذلك اتنظيم البرامج الطلابية التي تخدم أهداف
          الجامعة. وتهدف الاتحادات الطلابية، إلي متابعة شكاوى وتظلمات الطلاب
          والعمل على حلها، ودعم شخصية الطالب بما يمكنه من القدرة على التفكير الحر
          الناضج، إلى جانب تنظيم الأنشطة الطلابية، وتشجيع المتميزين من الطلاب.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>الهيكل التنظيمي لاتحاد الطلبة</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          يتكون اتحاد طلاب الجامعة من الأمين والأمين المساعد لكل كلية بالجامعة،
          وهما يترأسان الاتحاد. ويتكون الاتحاد من عدة لجان تُمثل الأنشطة المختلفة
          للاتحاد، بعدد عضوين من الطلاب في كل لجنة، ويترأسهم أيضًا الأمين والأمين
          المساعد. ويتم اختيار هؤلاء الطلاب عن طريق أسلوب الترشح والانتخاب، مع
          مراعاة شروط التقدم.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>لجنة الأسر</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص بتشجيع الطلاب تكوين الأسر بالكليات ودعم نشاطها والتنسيق بين أنشطتها
          المختلفة بالكليات ، إضافة إلى الإشراف على الرحلات والمؤتمرات التى تنظمها
          الجامعة.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اللجنة الثقافية</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص اللجنة بتنظيم أوجه النشاط الثقافي التي تؤدي إلى تعريف الطالب بخصائص
          المجتمع واحتياجات تطوره، كما تعمل على تنمية الطاقات الأدبية والثقافية
          للطلاب.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اللجنة الرياضية</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص بالعمل على بث الروح الرياضية بين الطلاب وتشجيع المواهب الرياضية
          والعمل على تنميتها، كما تختص بتنظيم النشاط الرياضي بالكلية عن طريق تكوين
          الفرق الرياضية، وإقامة المباريات والمسابقات والحفلات والمهرجانات
          الرياضية.
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اللجنة الفنية</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص بأنشطة (التمثيل - الكورال - الفنون التشكيلية - التصوير الضوئي -
          الفنون الطرزية وغيرها ).
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>لجنة الجوالة</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص لجنة الجوالة والخدمة العامة بتنظيم أوجه حركة الكشف والإرشاد على
          الأسس السليمة وفقًا لمبادئها، وكذلك تنفيذ برامج خدمة البيئة التي يقرها
          مجلس الكلية والأقسام، بما يسهم في تنمية المجتمع والعمل على إشراك الطلاب
          في تنفيذها بمشروعات الخدمة العامة القومية التي يحتاجها الوطن
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اللجنة الاجتماعية</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص بالنشاط الاجتماعي والرحلات بالعمل على تنمية الروابط الاجتماعية بين
          الطلاب وبين أعضاء هيئة التدريس وإشاعة روح التعاون والإخاء بينهم وبث
          الروح الجامعية فيهم، وذلك عن طريق تنظيم الرحلات والمعسكرات الاجتماعية
          والثقافية والترويحية، كما تختص اللجنة الاجتماعية بدعم الطلاب غير
          القادرين ماديًا من ميزانية التكافل الاجتماعي، ووفقًا لبحث الحالة الذي
          يتم إجراؤه بمعرفة الأخصائيين الاجتماعيين بالكلية، كما يدخل في اختصاصات
          اللجنة توزيع دعم الكتاب الجامعي على الطلاب بما يكفل مبدأ تكافؤ الفرص بين
          الطلاب. علاوة على ما يمكن أن تنفذه اللجنة من حملات للتبرع بالدم أو
          الدعوة للتبرع للمؤسسات التي تقبل الإعانات الخيرية، مثل معهد القلب أو
          معهد السرطان، وتنظم اللجنة سنويا مسابقة الطالب والطالبة المثالية على
          مستوى الكلية، إضافة إلى إقامة دوري للشطرنج
        </p>
      </div>
    </div>
  
    <div class="faq">
      <div class="question">
        <h4>اللجنة العلمية</h4>
        <svg width="16" height="12" viewBox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          تختص اللجنة العلمية بنشر الوعي العلمي والثقافي بين طالبات الكلية وتنمية
          القدرات الذهنية، من خلال تكوين فرق علمية مختلفة مثل فريق الابتكار،
          الكمبيوتر، الأبحاث العلمية.
        </p>
      </div>
    </div>
  </div>
  
</div>






<style>
    /* .landing-container{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    } */
    .faq-container h2:first-of-type
    {
      margin: 50px 0px 20px;

    }
    .contribuaters {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .contribuaters h3{
      margin: 5px;
    }
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .faq {
    color: #1c1c1c;
    background-color: #fff;

    width: 580px;

    display: flex;
    flex-direction: column;

    border-bottom: 2px solid #1c1c1c;
  }
  .faq .question {
    display: flex;
    align-items: center;
    cursor: pointer;
    direction: rtl;
  }
  .question h4::selection,
  .question svg::selection {
    background-color: transparent;
  }
  .question h4 {
    line-height: 1.5;
    caret-color: transparent;
  }
  .question svg {
    margin-right: 10px;
    transition: transform 0.5s ease-in;
  }

  .answer p {
    line-height: 1.4;
    font-size: 1.5rem;
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
    direction: rtl;
  }

  .faq.active .answer {
    max-height: 400px;
    animation: show 1s ease-in-out;
  }
  .faq.active svg {
    transform: rotate(180deg);
  }
  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>

<script>
  const faqs = document.querySelectorAll(".faq");
  faqs.forEach((faq) => {
    faq.addEventListener("click", () => {
      faq.classList.toggle("active");
    });
  });
</script>
{% endblock %}
