{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Nominee List page" />
  <title>Nominee List</title>
{% endblock %}

{% block maincontent %}
<div class ="sharp form-container" style = "gap:30px;">
    <h1 class="card-name">التحكم فى البيانات</h1>

    <form method="POST" action = "{% url 'list_nominee' 'new' %}" enctype="multipart/form-data">
        {%csrf_token%}

    <section class="flexvert borderdiv">

        <div class="muli-m">
            <div class="icon-box">
                <img src="{% static 'img/info.png' %}" width="18px"></img>
                <div class="info-box">
                        <li>الملف يجب أن يكون فى صيغة xlsx</li>
                        <li>صور اثبات النشاطات يجب أن يكون اسمها على هيئة collegenumber_studientId</li>
                </div>
              </div>
            رفع بيانات جديدة
        </div>
        <div class="field">
        {{loaddataform.datafile.label}}
        {{loaddataform.datafile}}
        </div>
        <div class="field">
        {{loaddataform.my_files.label}}
        {{loaddataform.my_files}}
        </div>
    </form>
    <button class="main-button" id="uploadNewDataFileb">حفظ</button>
    </section>
    <form method="POST" action = "{% url 'list_nominee' 'original' %}">
        {%csrf_token%}
    <section class="flexvert borderdiv">
        <div class="muli-m">استعادة البيانات الأصلية</div>

    <button type="submit" class="main-button" id="restoreOrigDataFileb">تطبيق</button>
    </section>
    </form>
    <div class="flexhoriz">ملحوظة: قد تستغرق العمليات بعض الدقائق</div>
    {{confirmationmessage}}
</div>

<div class ="sharp card large">
        <h1 class="card-name">المرشحين</h1>
        <table class="normal-table">
            <tr>

            <th>
            الاسم
            </th>

            <th>
            الكود
            </th>

            <th>
                اثبات المشاركة فى الأنشطة
            </th>

            <th>
            النهائيات
            </th>

            </tr>

            {%for i in nominee%}
            <tr>
                <td>
                    {{i}}
                </td>
                <td>
                    {{i.UserModelKey.Student_id}}
                </td>
                <td>
                    <a href="{{i.rec_letter.url}}" download>rec letter</a>
                </td>
                <td>
                    {{i.final_list}}
                </td>
                <td align="right">
                    <a href="{%url 'update_nominee' i.UserModelKey.Student_id%}">Update</a>
                </td>

            </tr>
            {%endfor%}
        </table>
    </div>

{% include 'listnomineejs.html' %}

{% endblock %}