<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta property="og:title" content="Login Page">
    <meta property="og:image" content="images/logo.jpg">
    <meta property="og:description" content="Students Union">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginp.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
    <script src="{% static 'js/common.js' %}" defer></script>
    <script src="{% static 'js/indexp.js' %}" defer></script>
    <title>Login</title>

</head>

<body>

    <header>
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo">
        </a>
        <a href="{% url 'home' %}">
            <h1 id="logotext1">FCAI Beni Suef</h1>
            <h1 id="logotext2">Student's Union Elections</h1>
        </a>
    </header>

    <nav>
        <button id="b1"><a href="{% url 'sign_in' %}">Login</a></button>
        <button id="b2"><a href="{% url 'vote1' %}">Vote</a></button>
        <button id="b3"><a href="{% url 'nomination' %}">Apply for nominatinon</a></button>
    </nav>
    <main class="container">
        <form id="login" action="{% url 'sign_in' %}" method="POST">
            {%csrf_token%}

            <h1>Login</h1>
            <input type=" text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            {% if error %}
            <p style='color: red'>{{ error }}</p>
            {% endif %}
            <input type="submit" name="submit" value="Login">
            <h3>or</h3>
            <button id="b4-log">Signup</button>
        </form>

    </main>

    <footer>
        <div id="foot"> FCAI Beni Suef © 2023 - all rights reserved.</div>
    </footer>

</body>

</html>