{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Login Page" />
  <meta property="og:image" content="images/logo.png" />
  <link rel="stylesheet" href="{% static 'css/loginp.css' %}" />
  <title>Login</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
<form id="login" action="{% url 'sign_in' %}" method="POST">
  {%csrf_token%}
  <h2 class="form-name">تسجيل الدخول</h2>
  <div class="field">
    <label for="username">الاسم</label>
    <input type="text" name="username" id="username" placeholder="Username" />
  </div>
  <div class="field">
    <label for="password">كلمة المرور</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
  </div>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
  <input type="submit" name="submit" value="تسجيل" />
</form>
</div>
{% endblock %}
