{% extends 'base.html' %}

{% block headcontent %}
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta property="og:title" content="Login Page">
    <meta property="og:image" content="images/logo.jpg">
    <meta property="og:description" content="Students Union">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginp.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">
    <title>Login</title>

</head>
{% endblock %}

{% block maincontent %}
    <main class="container">
        <form id="login" action="{% url 'sign_in' %}" method="POST">
            {%csrf_token%}

            <h1>Login</h1>
            <input type=" text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            {% if error %}
            <p style='color: red'>{{ error }}</p>
            {% endif %}
            <input type="submit" name="submit" value="Login">
            <h3>or</h3>
            <button id="b4-log">Signup</button>
        </form>

    </main>
{% endblock %}