{% extends 'base.html' %}

{% block headcontent %}
<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta property="og:title" content="Nomination page" />
  <meta property="og:image" content="../images/logo.jpg" />
  <meta property="og:description" content="Students Union" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'css/nomination.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}" />
  <title>Nomination Form</title>
</head>

{% endblock %}

{% block maincontent %}
  <main class="container">

    <form enctype="multipart/form-data" id="myForm" class="nomination" action="{% url 'nomination' %}" method="POST">
      {%csrf_token%}

      {% if ConfirmationMessage == 'Application already sent' or ConfirmationMessage == 'Application sent successfuly' %}
      <div>{{ ConfirmationMessage }}</div>

      {% else %}
        <label>{{form.Name.label}}</label>
        {{form.Name}}
      </div>

      <div>
        <label>{{form.nominee_id.label}}</label>
        {{form.nominee_id}}
      </div>

      <div>
        <label>{{form.address.label}}</label>
        {{form.address}}
      </div>

      <div>
        <label>{{form.birthdate.label}}</label>
        {{form.birthdate}}
      </div>

      <div>
        <label>{{form.collegeYear.label}}</label>
        {{form.collegeYear}}
      </div>

      <div>
        <label>{{form.phone_no.label}}</label>
        {{form.phone_no}}
      </div>

      <div>
        <label>{{form.email.label}}</label>
        {{form.email}}
      </div>
      <div>
        <label>{{form.community.label}}</label>
        {{form.community}}
      </div>

      <div>
        <label>{{form.rec_letter.label}}</label>
        {{form.rec_letter}}
      </div>
      <div>{{ ConfirmationMessage }}</div>
      <input type="submit" value="تقديم الاستمارة" />
      {% endif %}
    </form>
  </main>
{% endblock %}