{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Nomination page" />
  <link rel="stylesheet" href="{% static 'css/nomination.css' %}" />
  <title>Nomination Form</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
  <form enctype="multipart/form-data" id="myForm" class="nomination" action="{% url 'nomination' %}" method="POST">
    {%csrf_token%}

    <h2 class="form-name">استمارة ترشح</h2>
    {% if ConfirmationMessage == 'Application already sent' or ConfirmationMessage == 'Application sent successfuly' %}
    <div>{{ ConfirmationMessage }}</div>

    {% else %}
    <div class="feild">
      {{form.Name.label}}
      {{form.Name}}
    </div>

    <div class="feild">
      {{form.nominee_id.label}}
      {{form.nominee_id}}
    </div>

    <div class="feild">
      {{form.address.label}}
      {{form.address}}
    </div>

    <div class="feild">
      {{form.birthdate.label}}
      {{form.birthdate}}
    </div>

    <div class="feild">
      {{form.collegeYear.label}}
      {{form.collegeYear}}
    </div>

    <div class="feild">
      {{form.phone_no.label}}
      {{form.phone_no}}
    </div>

    <div class="feild">
      {{form.email.label}}
      {{form.email}}
    </div>

    <div class="feild">
      {{form.community.label}}
      {{form.community}}
    </div>

    <div class="feild">
      {{form.rec_letter.label}}
      {{form.rec_letter}}
    </div>
    {% if ConfirmationMessage %}
    <div>{{ ConfirmationMessage }}</div>
    {% endif %}
    <input type="submit" value="تقديم الاستمارة" />
    {% endif %}
  </form>
</div>
{% endblock %}