{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Vote page" />
  <link rel=" stylesheet" href="{% static 'css/vote.css' %}" />
  <title>Nomination Form</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
  {% if std_access.vote %}
  <form class="vote" method="POST">
    {%csrf_token%}
    <h2 class="form-name">انتخاب</h2>
    {% if ConfirmationMessage == 'Vote sent successfully' or ConfirmationMessage == 'Already voted'%}
    <div>{{ConfirmationMessage}}</div>
    {% else %}
    <div class="field">
      {{form.Scientific.label}}
      {{form.Scientific}}
    </div>

    <div class="field">
      {{form.Scientific2.label}}
      {{form.Scientific2}}
    </div>

    <div class="field">
      {{form.Sports.label}}
      {{form.Sports}}
    </div>

    <div class="field">
      {{form.Sports2.label}}
      {{form.Sports2}}
    </div>

    <div class="field">
      {{form.Social.label}}
      {{form.Social}}
    </div>

    <div class="field">
      {{form.Social2.label}}
      {{form.Social2}}
    </div>

    <div class="field">
      {{form.Scout.label}}
      {{form.Scout}}
    </div>

    <div class="field">
      {{form.Scout2.label}}
      {{form.Scout2}}
    </div>

    <div class="field">
      {{form.Cultural.label}}
      {{form.Cultural}}
    </div>

    <div class="field">
      {{form.Cultural2.label}}
      {{form.Cultural2}}
    </div>

    <div class="field">
      {{form.Art.label}}
      {{form.Art}}
    </div>

    <div class="field">
      {{form.Art2.label}}
      {{form.Art2}}
    </div>

    <div class="field">
      {{form.Family.label}}
      {{form.Family}}
    </div>

    <div class="field">
      {{form.Family2.label}}
      {{form.Family2}}
    </div>

    <input type="submit" value="ارسال" />
    {% endif %}
  </form>
  {% else %}
  <div class="unavailable-field field">
    التصويت غير متاح حاليا
  </div>
  {% endif %}
</div>
{% endblock %}