<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta property="og:title" content="Vote page" />
  <meta property="og:image" content="../images/logo.jpg" />
  <meta property="og:description" content="Students Union" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'css/nomination.css'%}"" />
    <link rel=" stylesheet" href="{% static 'css/vote.css' %}" />
  <script src="{% static 'js/common.js' %}" defer></script>
  <script src="{% static 'js/nominatinon.js' %}" defer></script>
  <script src="{static 'js/vote.js'}" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}" />
  <title>Nomination Form</title>
</head>

<body>
  <header>
    <a href="{% url 'home' %}">
      <img src="{% static 'img/logo.jpg' %}" alt="logo" class="logo" />
    </a>
    <a href="{% url 'home' %}">
      <h1 id="logotext1">FCAI Beni Suef</h1>
      <h1 id="logotext2">Student's Union Elections</h1>
    </a>
  </header>

  <nav>
    <button id="b1"><a href="{% url 'sign_in' %}">Login</a></button>
    <button id="b2"><a href="{% url 'vote1' %}">Vote</a></button>
    <button id="b3">
      <a href="{% url 'nomination' %}">Apply for nominatinon</a>
    </button>
  </nav>

  <main class="container">
    <form class="vote" method="POST">
      {%csrf_token%}
      <div class="select">
        <label for="Scientific committee">اللجنة العلمية</label>
        <select name="Scientific committee" id="Scientific committee" required>
          {% for i in Scientific %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Sports committee">اللجنة الرياضية</label>
        <select name="Sports committee" id="Sports committee" required>
          {% for i in Sports %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Social committee">اللجنة الاجتماعية</label>
        <select name="Social committee" id="Social committee" required>
          {% for i in Social %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Scout and services committee">أسرة الجوالة والخدمات</label>
        <select name="Scout and services committee" id="Scout and services committee" required>
          {% for i in Scout %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Cultural committee">اللجنة الثقافية</label>
        <select name="Cultural committee" id="Cultural committee" required>
          {% for i in Cultural %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Art committee">اللجنة الفنية</label>
        <select name="Art committee" id="Art committee" required>
          {% for i in Art %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="select">
        <label for="Family and trips committee">لجنة الأسر و الرحلات</label>
        <select name="Family and trips committee" id="Family and trips committee" required>
          {% for i in Family %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <input type="submit" value="Vote " />
    </form>
  </main>

  <footer>
    <div id="foot">FCAI Beni Suef © 2023 - all rights reserved.</div>
  </footer>
</body>

</html>