{% extends 'base.html' %}

{% block headcontent %}
{% load static %}
  <meta property="og:title" content="Vote page" />
  <link rel=" stylesheet" href="{% static 'css/vote.css' %}" />
  <title>Nomination Form</title>
{% endblock %}

{% block maincontent %}
<div class="form-container">
  {% if std_access.Voting_2 %}
  <form class="vote" method="POST">
    {%csrf_token%}
    <h2 class="form-name">انتخاب</h2>
    {% if ConfirmationMessage == 'Vote sent successfully' or ConfirmationMessage == 'Already voted' or ConfirmationMessage == 'متطلبات الانتخاب غير موافاة' %}
    <div>{{ConfirmationMessage}}</div>
    {% else %}
    <div class="field">
      {{form.collegeCommunityTrusteeNominee.label}}
      {{form.collegeCommunityTrusteeNominee}}
    </div>

    <div class="field">
      {{form.collegeCommunityTrusteeHelperNominee.label}}
      {{form.collegeCommunityTrusteeHelperNominee}}
    </div>

    <input type="submit" value="ارسال" />
    {% endif %}
  </form>
  {% else %}
  <div class="unavailable-field field">
    التصويت غير متاح حاليا
  </div>
  {% endif %}
</div>
{% endblock %}